<form class="signin-form">
  <md-input-container class="input-fullwidth">
    <span md-prefix>
      <i class="material-icons app-input-icon">person</i>
      &nbsp;
    </span>
    <input mdInput placeholder="Username" value="">
  </md-input-container>
  <md-input-container class="input-fullwidth">
    <span md-prefix>
      <i class="material-icons app-input-icon">lock_open</i>
      &nbsp;
    </span>
    <input mdInput type="password" placeholder="Password" value="">
  </md-input-container>
  <div align="end" class="input-fullwidth">
    <button md-raised-button color="accent">Sign in</button>
  </div>
</form>
