.signin-form {
  padding-top: 48px;
  width: 500px;
  margin: auto;
}

.signin-tabgroup {
  padding-top: 48px;
  width: 500px;
  margin: auto;
  align-items: center;
}

.input-fullwidth {
  width: 100%;
}
