<md-tab-group class="signin-tabgroup">
  <md-tab label="Existing user">
    <form class="signin-form">
      <md-input-container class="input-fullwidth">
        <input mdInput placeholder="username" value="">
      </md-input-container>
      <md-input-container class="input-fullwidth">
        <input mdInput type="password" placeholder="password" value="">
      </md-input-container>
      <button md-raised-button color="accent">Sign in</button>
    </form>
  </md-tab>
  <md-tab label="New user">
    <form class="signin-form">
      <md-input-container class="input-fullwidth">
        <input mdInput placeholder="username" value="">
      </md-input-container>
      <md-input-container class="input-fullwidth">
        <input mdInput type="password" placeholder="password" value="">
      </md-input-container>
      <md-input-container class="input-fullwidth">
        <input mdInput type="password" placeholder="confirm password" value="">
      </md-input-container>
      <md-input-container class="input-fullwidth">
        <input mdInput placeholder="Full name" value="">
      </md-input-container>
      <md-input-container class="input-fullwidth">
        <input mdInput placeholder="email" value="">
      </md-input-container>
      <button md-raised-button color="accent">Create account</button>
    </form>
  </md-tab>
</md-tab-group>
