.navbar {
  min-height: 60px;
  border-color: #e7e7e7;
  border-width: 0 0 1px;
  border-style: solid;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand {
  font-size: 18px;
  line-height: 20px;
}

.nav-item > a {
  padding: 20px 16px 20px 16px;
}

.nav-item.active > a {
  color: #fff;
  background-color: #009dde;
}

.container {
  margin: auto;
}
.content-container {
  padding-top: 16px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


