<form class="signin-form">
  <md-input-container class="input-fullwidth">
    <input mdInput placeholder="Username" value="">
  </md-input-container>
  <md-input-container class="input-fullwidth">
    <input mdInput type="password" placeholder="Password" value="">
  </md-input-container>
  <md-input-container class="input-fullwidth">
    <input mdInput type="password" placeholder="Confirm password" value="">
  </md-input-container>
  <md-input-container class="input-fullwidth">
    <input mdInput placeholder="Full name" value="">
  </md-input-container>
  <md-input-container class="input-fullwidth">
    <input mdInput placeholder="email" value="">
  </md-input-container>
  <div align="end" class="input-fullwidth">
    <button md-raised-button color="accent">Create account</button>
  </div>
</form>
